*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #737373;
    line-height: 1.5;
    font-size: 1rem;
}
.wrap{
    max-width: 1080px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    box-sizing: border-box;
    max-width: 1330px;
    margin: 0 auto;
}
.menu{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.menu li{
    margin-left: 94px;
}
.menu li a{
    color: #252B42;
    text-decoration: none;
}
.menu li a:hover {
    color: #FA4A0C;
}
.download_wrap{
    background: url("../img/bg-app.png") center center no-repeat;
    background-size: cover;
    padding: 75px 0 145px 0;
}
.download{
    color:#fff;
    text-align: center;
}
.download_text{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 20px;
}
.download_title{
    font-weight: 700;
    font-size: 3rem;
    line-height: 5rem;
    margin-bottom: 30px;
}
.download_subtitle{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 60px;
}
.btn{
    font-weight: 700;
    font-size: 1.5rem;
    color:#fff;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 16px 60px;
    display: inline-block;
    margin: 0 15px;
}
.btn_red{
    background-color: #FA4A0C;
    border-color: #FA4A0C;
}
.workapp_wrap{
    padding:50px 0 ;
}
.part_title{
    font-size: 2.75rem;
    font-weight: 600;
    text-align: center;
    color:#000;
    margin-bottom: 80px;
}
.workapp_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.workapp_img{
    width: 47%;
    text-align: center;
}
.workapp_text{
    width: 50%;
}
.workapp_text h3{
    font-weight: 700;
    font-size: 1.5rem;
    color: #FA4A0C;
    line-height: 3.5rem;
    margin-bottom: 20px;
}
.workapp_text h2{
    font-weight: 700;
    font-size: 2.5rem;
    color:#252B42;
    line-height: 3.5rem;
    margin-bottom: 30px;
}
.workapp_text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.375rem;
}
.workapp_item:nth-child(2n){
    flex-direction: row-reverse;
 }
.workapp_item:last-child{
    margin-bottom: 0;
}
.footer_wrap{
    padding: 70px 0;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #5C5C5C;
    font-size: 0.75rem;
    font-weight: 700;
}
@media (max-width:800px) {
    .header{
        flex-direction: column;
    }
    .logo{
        margin-bottom: 30px;
    }
    .menu li{
        margin-left: 25px;
        margin-right: 25px;
    }
    .download_text{
        font-weight: 500;
        font-size: 1.25rem;
    }
    .download_title{
        font-size: 2rem;
        line-height: 3.5rem;
    }
    .download_subtitle{
        font-size: 1.25rem;
    }
    .download_wrap{
        padding: 40px 0 70px 0;
    }
    .part_title{
        font-size: 2rem;
        margin-bottom: 50px;
    }
    .workapp_item{
        flex-direction: column-reverse;
    }
    .workapp_text, .workapp_img {
        width: 100%;
    }
    .workapp_text{
        margin-bottom: 40px;
    }
    .workapp_item:nth-child(2n){
        flex-direction: column-reverse;
    }
    .workapp_text h3 {
        font-size: 1.25rem;
        line-height: 2.5rem;
    }
    .workapp_text h2 {
        font-size: 2rem;
        line-height: 3rem;
    }
}
@media (max-width: 600px) {
    .btn{
        margin: 30px auto;
        width: 290px;
        box-sizing: border-box;
    }
    .footer {
        flex-direction: column;
    }
    .footer_wrap {
        padding: 30px 0;
    }
    .footer img{
        margin-bottom: 30px;
    }
    .menu{
       justify-content: center;
    }
    .menu li{
      margin: 10px 15px;
    }

}

